@import '@/styles/theme.scss';

.thirdsection {
    background: $light;
    position: relative;
    width: 100vw;
    padding: 50px 0;
    .clip1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: $resalt;
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 100%);
    }
    .clip2 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        background: $primary;
        clip-path: polygon(0% 100%, 100% 0%, 100% 100%, 0% 100%);
    }
    .content {
        height: 100%;
        text-align: center;
        .grid {
            display: grid;
            grid-template-columns: 1fr;
            max-width: 100vw;
            gap: 20px;
            @include media-up( md ) {
                grid-template-columns: 1fr 1fr;
            }
            @include media-up( xl ) {
                grid-template-columns: 1fr 1fr 1fr;
                max-width: 1200px;
                margin: auto;
            }
        }
    }
}