.container {
    max-width: 1280px;
    margin: auto;
    margin-top: 10rem;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    .title {
        grid-column: span 2;
        display: flex;
        flex-direction: column;
        h2 {
            color: var(--color-accent);
            line-height: 2rem;
            strong {
                font-size: 3rem;
                color: var(--color-primary);
            }
        }
        p {
            flex-grow: 1;
        }
        button {
            width: 100%;
            padding: 1rem;
            border: none;
            color: white;
            font-size: 1.2rem;
            font-weight: 600;
            cursor: pointer;
            background: var(--color-primary);
        }
    }
    .card {
        width: 100%;
        position: relative;
        aspect-ratio: 4/3;
        &:hover {
            box-shadow: 0px 0px 5px rgba(0,0,0,.3);
        }
        h3 {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #0055a4a4;
            margin: 0;
            padding: 1rem;
            backdrop-filter: opacity(20%);
            color: white;
        }
        img {
        }
    }

}

@media screen and (min-width: 900px) {
    .container {
        .card {
            &.right {
                &>:nth-child(2) {
                    grid-column: 1;
                    grid-row: 1;
                }
                .title {
                    grid-column: 2/ span 2;
                    text-align: end;
                    h2 {
        
        
                    }
                }
            }
        }
    }
}

@media screen and (max-width:900px) {
    .container {
        grid-template-columns: 1fr;
    }
    .card {
        &.rigth {

        }
    }
}