:root {

  --color-primary:#0056a4;
  --color-primary-dark: #004b92;
  --color-secondary: #0086cd;
  --color-seconday-dark: #0074b3;
  --color-accent: #86ad1b;
  --color-accent-dark: #86ad1b;

  --color-gray: #c8c8c8;

  --color-text-body: #595959;
  --color-text-title: #212121;

  --color-separator: #e9e9e9;

  --color-error: #b60000;

}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
























