.welcomesection {
    min-height: 60vh;
    position: relative;
    opacity: 1;
    padding: 1rem;
    display: flex;
    .container {
        display: flex;
        gap: 1rem;
        flex-grow: 1;
        align-items: center;
        margin: auto;
        max-width: 1280px;
        .info {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            z-index: 1;
            h1 {
                font-size: 3.5rem;
                line-height: 3.5rem;
                font-weight: 700;
                margin: 0;
                margin-top: 2rem;
                span {
                    &.green {
                        color: #A2C53E;
                    }
                    &.blue {
                        color: #1059A1;
                    }
                }
            }
            p {
                font-size: 1.5rem;
                margin-top: 1.5rem;
                margin-bottom: 1.5rem;
            }
            span {
                margin-top: 3rem;
            }
            >a {
                width: fit-content;
            }
            .counters {
                display: flex;
                justify-content: space-between;
                flex-grow: 1;
                gap: 2rem;
                >span {
                    width: 2px;
                    background: #A2C53E;
                    margin: 0;
                }
                > div {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    strong {
                        font-size: 3rem;
                        color: #1059A1;
                        font-weight: 800;
                    }
                    h2 {
                        margin: 0;
                    }
                }
            }
        }

        .image {
    
        }

    }
}


@media screen and (max-width:990px) {
    .welcomesection {
        .container {
            flex-direction: column-reverse;
            margin-top: 4rem;
            margin-bottom: 4rem;
            .info {
                h1 {
                    font-size: 3rem;
                    line-height: 3rem;
                }
                .counters {
                    justify-content: space-between;
                    >div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        strong {
                            font-size: 2.5rem;
                        }
                        h2 {
                            font-size: 1rem;
                            text-align: center;
                        }
                    }
                }
            }
            .image {
                width: 100%;
                max-width: 100%;
                img {
                    max-width: 80vw;
                    height: fit-content;
                    object-fit: contain;
                }
            }
        }
    }
}


@media screen and (max-width:450px) {
    .welcomesection {
        height: fit-content;
        .container {
            flex-direction: column;
            align-items: center;
            margin-top: 4rem;
            margin-bottom: 0rem;
            .info {
                h1 {
                    font-size: 2.15rem;
                    font-weight: 900;
                    line-height: 2.7rem;
                    margin-top: 0rem;
                }
                p {
                    font-size: 1.2rem;
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                }
                .counters {
                    justify-content: space-between;
                    gap: 0;
                    >div {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        strong {
                            font-size: 2rem;
                        }
                        h2 {
                            font-size: 1rem;
                            text-align: center;
                        }
                    }
                }
            }
            .image {
                width: 100%;
                max-width: 100%;
                display: flex;
                justify-content: center;
                img {
                    max-width: 80vw;
                    height: fit-content;
                    object-fit: contain;
                }
            }
        }
    }
}