.customerssection {
    position:relative;
    gap: 1rem;
    &::before, &::after {
        position: absolute;
        top: 0;
        width: 250px;
        height: 100%;
        content: "";
        z-index: 2;
        pointer-events: none;
    }
    
    &::before {
        left: 0;
        background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
    }
    
    &::after {
        right: 0;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
    }
    > div {
        margin-top: .5rem;
    }
    .logos {
    }
    
    .logosslide {
        display: flex;
        align-items: center;
        position: relative;
        img {
            filter: grayscale(100%);
            opacity: .5;
            transition: all .3s ease-in-out;
            &:hover {
                filter: none;
                opacity: 1;
            }
        }
    }
}